{{#if hayUsername}}
<h1>Bienvenido {{user}} !</h1>
<p>Rol : {{rol}}</p>

<button id="btnLogout">Logout</button>
{{/if}}

<h1>Productos</h1>
{{#if hayProductos}}
{{#each productos.docs}}
    <div>
        <h4>{{this.title}}</h4>
        <p>ID :{{this._id}}</p>
        <p>{{this.description}}</p>
        <p>{{this.price}}</p>
        {{!-- <img src="{{this.thumbnail}}" alt="{{this.title}}"> --}}
        <p>SKU : {{this.code}}</p>
        <p>stock : {{this.stock}}</p>
    </div>
    <button class="btnAgregarAlCarrito" data-product-id="{{this._id}}">Agregar al carrito</button>
    <p id="p{{this._id}}"></p>
{{/each}}
{{#if productos.hasPrevPage}}
    <a href="/products?page={{productos.prevPage}}&{{query}}">Anterior</a>
{{/if}}
{{#if productos.hasNextPage}}
    <a href="/products?page={{productos.nextPage}}&{{query}}">Siguiente</a>
{{/if}}
{{else}}
<h2>no hay productos</h2>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/js/agregarAlCarrito.js"></script>
<script src="/js/logout.js"></script>